/*------------------- 6.4 Misc -------------------*/
.bg-common {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-attachment-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

