body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0 10px;
    color: #333;
}

p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #666;
}

a {
    font-size: 1em;
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    font-size: 0.8em;
    color: #999;
    margin-top: 20px;
}

.icon {
    font-size: 15em;
    /*margin-bottom: 20px;*/
    color: #666;
}
